{% extends 'layout.html' %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class = "">
            {{ form.fname.label(class="from-control-label") }}
            {% if form.fname.errors %}
                {{ form.fname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.fname.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.fname }}
            {% endif %}
        </div>
    </form>
{% endblock content %}